

body {
    font-family: sans-serif;
    letter-spacing:2px;
    margin: 0;
    padding: 0;
    padding-bottom:20px;
    background-color:black;
}

.main {
    width: 100%;
    margin: 0 auto; /* Center the content horizontally */
    box-sizing: border-box;
}

img {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
}

.temp {
    width: 100%;
    margin-top: 20px;
    padding-left: 220px;
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: #007bff;
    background-image: url(preview.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    font-weight:bold;
}

.text {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    padding-left:220px;
    box-sizing: border-box;

    /*opacity:.7;*/
}

.ad-copy {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

red{
    color:red;
}

/* Styles for screens that are at least 800px wide */
@media screen and (min-width: 1024px) {

    .main {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}